$bgColor: white;
$textColor: black;

$padding: 10px;
$border: 3px;
$h1-size: 5em;

//fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
$font-main: "Merriweather", Helvetica, sans-serif;
$font-highlight: "Bree Serif", Helvetica, sans-serif;

//nav
$navColor: #333;
$ulNavPadding: 15px;
$navFont: "Fira Sans", sans-serif;
$navFontSize: 17px;
$navLinkColor: #111;

//Headers
$h1Size: 5em;
$h1Margin: 2%;

$h2Size: 2em;
$h2Margin: 1%;

//P
$pSize: 1em;
$pMargin: 1%;

$footer-height: 30px;